*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Calibri, sans-serif;
}

body{
    background:#f7f7f7;
    display:flex;
    justify-content:center;
    padding:30px;
}

.container{
    width:850px;
    background:white;
    display:flex;
    border-radius:10px;
    overflow:hidden;
}

/* Left section */
.left{
    width:30%;
    background:#e4f5f8;
    padding:25px;
}

.left h3{
    margin:20px 0 10px;
    font-size:14px;
    font-weight:bold;
    border-bottom:1px solid #000;
    padding-bottom:5px;
}

.left ul{
    margin-left:15px;
}

.profile-pic img{
    width:120px;
    border-radius:50%;
    margin-bottom:20px;
}

/* Right section */
.right{
    width:70%;
    padding:30px;
}

.header{
    background:#f4e7df;
    padding:20px;
    border-radius:10px;
    text-align:center;
    margin-bottom:25px;
}

.header h1{
    font-size:32px;
    letter-spacing:2px;
}

.header h3{
    font-size:14px;
    letter-spacing:5px;
    margin-top:5px;
}

.section{
    margin-bottom:25px;
}

.section h2{
    background:#e4f5f8;
    padding:8px;
    border-radius:10px;
    font-size:18px;
    margin-bottom:10px;
}

.section ul{
    margin-left:20px;
    margin-top:5px;
}

.section h4{
    font-size:15px;
    margin-top:10px;
}

.section span{
    font-weight:normal;
    color:#555;
    font-size:14px;
}
